body{
    background-color: darkgoldenrod;
};
.first-years{
    background-color: brown;
};
.card{
    margin: 20px 20px;
}
.intro-card{
    border: solid 10px black;
}
#introCard{
     border: solid 10px black;
}
.card-title{
    color: red;
}
.cardStyles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.firstYears{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    background-color: royalblue;
}
